include base.py
include brewCalc.py
include densimetre_ui.py
include editdivers.py
include editgrain.py
include edithoublon.py
include editlevures.py
include editorG_ui.py
include editorH_ui.py
include editorM_ui.py
include editorY_ui.py
include exportHTML.py
include export.py
include exportMash.py
include globals.py
include importmashXml.py
include joliebulle_en.qm
include main.py
include mash.xml
include mashEditor_ui.py
include mashEditWindow.py
include outilAlc.py
include outilAlc_ui.py
include outilDens.py
include outilDilution.py
include outilDilution_ui.py
include outilEvaporation.py
include outilEvaporation_ui.py
include outilPaliers.py
include outilPaliers_ui.py
include preferences.py
include preferences_ui.py
include reader.py
include settings.py
include stepAdjust_ui.py
include stepAdjustWindow.py
include stepEditor_ui.py
include stepEditWindow.py
include database.xml
include launch.sh
include joliebulle.desktop
include README
include COPYING
recursive-include images *

